*,*::before,*::after
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root
{
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 125;
}

body
{
  --hue: var(--hue-neutral);
  display: flex;
  width: 100vw;
  min-height: 100vh;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: hsl(var(--hue), 50%, 8%);
  font-size: 16px;
}

body.correct
{
  --hue: var(--hue-correct);
}

body.wrong
{
  --hue: var(--hue-wrong);
}

header
{
  background-color: hsl(0, 0%, 70%);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: hsl(var(--hue), 100%, 15%);
  margin-bottom: auto;
}

#points
{
  min-width: 50%;
  margin: .5rem auto;
  display: flex;
  justify-content: space-between;
  background-color: hsl(var(--hue), 30%, 20%);
  color: white;
  border: .2rem solid hsl(var(--hue), 50%, 80%);
  border-radius: 1rem;
  font-size: 1.25rem;
}

#high-score,
#current-score
{
  background-color: hsl(var(--hue), 50%, 10%);
  padding: .5rem;
  border-radius: 0 1rem 1rem 0;
}

#high-score
{
  margin-right: .5rem;
  border-radius: 1rem 0 0 1rem;
}

h1
{
  padding: .2rem 0;
  font-size: 3.5rem;
}

main
{
  min-height: 70%;
  width: 500px;
  max-width: 90%;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  background-color: hsl(var(--hue), 30%, 20%);
  border-radius: 1rem;
  box-shadow: 0 0 10px 2px;
  background-image: url("../img/globe.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-blend-mode: color-dodge;
  flex-grow: 1;
  z-index: 1;
}

#question-container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

#flag
{
  height: 20vh;
  margin: 0 auto .25rem auto;
}

.btn-grid
{
  margin: .5rem auto;
  padding: 0 .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.btn
{
  --hue: var(--hue-neutral);
  min-width: 100%;
  padding: .4rem .5rem;
  margin: .3rem 0;
  background-color: hsl(var(--hue), 100%, 5%);
  border: .1rem solid hsl(var(--hue), 70%, 60%);
  border-radius: 1rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  text-align: center;
  color: white;
  box-shadow: 2px 2px 1px;
  outline: none;
}

.btn:hover
{
  background-color: hsl(var(--hue), 60%, 25%);
  border-color: hsl(var(--hue), 60%, 75%);
  cursor: pointer;
}

.btn.correct
{
  background-color: hsl(var(--hue-correct), 100%, 25%);
  border-color: hsl(var(--hue-correct), 90%, 10%);
  border-width: .2rem;
}

.btn.wrong
{ 
  background-color: hsl(var(--hue-wrong), 100%, 20%);
  border-color: hsl(var(--hue-wrong), 90%, 10%);
}

.controls
{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-btn, .next-btn
{
  padding: .75rem;
  background-color: hsl(var(--hue), 100%, 7%);
  font-weight: bold;
}

.start-btn
{
  padding: 2rem;
  font-size: 3rem;
}

footer
{
  background-color: hsl(0, 0%, 70%);
  width: 100%;
  min-height: 10%;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a
{
  color: hsl(var(--hue), 100%, 15%);
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: capitalize;
}

.hide
{
  display: none;
}