*,*::before,*::after
{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

:root
{
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 125;
}

body
{
  --hue: var(--hue-neutral);
  margin: 0;
  padding: 0;
  display: flex;
  width: 100vw;
  min-height: 100vh;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: hsl(var(--hue), 50%, 8%);
}

body.correct
{
  --hue: var(--hue-correct);
}

body.wrong
{
  --hue: var(--hue-wrong);
}

header
{
  background-color: hsl(0, 0%, 70%);
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(var(--hue), 100%, 15%);
  margin-bottom: auto;
}

h1
{
  font-size: 2.25rem;
}

main
{
  display: flex;
  flex-direction: column;
  align-content: center;
  min-height: 70%;
  width: 500px;
  max-width: 90%;
  background-color: hsl(var(--hue), 60%, 15%);
  border-radius: 1rem;
  box-shadow: 0 0 10px 2px;
  background-image: url("../img/globe.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-blend-mode: color-dodge;
  flex-grow: 1;
  z-index: 1;
}

#question-container
{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-image: url("../img/flag.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#flag
{
  height: 20vh;
  margin: 1rem auto;
}

.btn-grid
{
  display: grid;
  gap: 7% 5%;
  margin: 1rem auto;
}

.btn
{
  --hue: var(--hue-neutral);
  background-color: hsl(var(--hue), 100%, 10%);
  border: .1rem solid hsl(var(--hue), 70%, 60%);
  border-radius: 1rem;
  padding: .2rem .5rem;
  font-size: 1.3rem;
  text-transform: capitalize;
  text-align: center;
  color: white;
  box-shadow: 1px 1px;
  outline: none;
}

.btn:hover
{
  background-color: hsl(var(--hue), 60%, 25%);
  border-color: hsl(var(--hue), 60%, 75%);
  cursor: pointer;
}

.btn.correct
{
  background-color: hsl(var(--hue-correct), 100%, 20%);
  border-color: hsl(var(--hue-correct), 90%, 10%);
}

.btn.wrong
{ 
  background-color: hsl(var(--hue-wrong), 100%, 20%);
  border-color: hsl(var(--hue-wrong), 90%, 10%);
}

.controls
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-btn, .next-btn
{
  margin: 1.5rem;
  background-color: hsl(var(--hue), 100%, 20%);
  font-size: 1.5rem;
  font-weight: bold;
}

footer
{
  background-color: hsl(0, 0%, 70%);
  width: 100%;
  min-height: 10%;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a
{
  color: hsl(var(--hue), 100%, 15%);
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: capitalize;
}

.hide
{
  display: none;
}